demo/demo-blend/src/main/mule/delete-borrower.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blend="http://www.mulesoft.org/schema/mule/blend"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/blend http://www.mulesoft.org/schema/mule/blend/current/mule-blend.xsd">
	
	<flow name="deleteBorrower" doc:id="5ea1d9eb-2975-451c-90b2-e6594d46cc2a" >
		<http:listener doc:name="8081/deleteBorrower/:borrowerId" doc:id="a9ce5897-3849-4ef6-9e2a-6165bee450e4" config-ref="HTTP_Listener_config" path="/deleteBorrower/{borrowerId}"/>
		<blend:delete-borrower doc:name="Delete borrower" doc:id="4423eb84-76c4-4e62-9f79-e4623d866976" config-ref="Blend_Config" borrowerId="#[attributes.uriParams.borrowerId]"/>
		<ee:transform doc:name="Transform Message" doc:id="dc813ca1-f3bb-4a31-899a-1dcaed82fac3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	</mule>
