demo/demo-blend/src/main/mule/get-disclosure-packages.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blend="http://www.mulesoft.org/schema/mule/blend"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/blend http://www.mulesoft.org/schema/mule/blend/current/mule-blend.xsd">
	<flow name="getDisclosurePackages" doc:id="00c0d111-c251-4c30-9452-09a12c14c2c0" >
		<http:listener doc:name="8081/getDisclosuresPackages/:loanId" doc:id="12b18b86-1bd9-40f0-95a7-0927c90a68ff" config-ref="HTTP_Listener_config" path="/getDisclosuresPackages/{loanId}"/>
		<blend:get-disclosures-packages doc:name="Get disclosures packages" doc:id="21dcce94-5080-47d7-bdd6-39c755f294cf" config-ref="Blend_Config" loanId="#[attributes.uriParams.loanId]"/>
		<ee:transform doc:name="Transform Message" doc:id="fa0f16c1-f1a6-4276-b6aa-3aa821d6756f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	</mule>
