demo/demo-blend/src/main/mule/put-loan-application-details.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:blend="http://www.mulesoft.org/schema/mule/blend" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/blend http://www.mulesoft.org/schema/mule/blend/current/mule-blend.xsd">
	<flow name="putLoanApplicationDetails" doc:id="abdc5191-408e-4dbf-bd78-03805fed613d" >
		<http:listener doc:name="8081/putLoanApplicationDetails/:loanId" doc:id="e87e2e52-ae40-4fd3-8b29-fd02277c5967" config-ref="HTTP_Listener_config" path="/putLoanApplicationDetails/{loanId}">
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"content-type" : "application/json"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" />
		</http:listener>
		<blend:put-loan-application-details doc:name="Put loan application details" doc:id="cdc26ee4-d8c3-4ad3-8e52-3ced0ef5611c" config-ref="Blend_Config" loanId="#[attributes.uriParams.loanId]"/>
		<ee:transform doc:name="Transform Message" doc:id="e430c234-ff60-4106-abe3-d652325dac1d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ef6fa70d-bc91-43db-a34f-c79a525e8d72" />
	</flow>
</mule>
